<html>
<body>
<div class="jumbotron feature">
	<div class="container">
		<h1>ADMIN (DANGER ZONE!!!!!!)</h1>
		<%= generate_hero('Абатур', '/assets/small_heroes/abathur.png', 'admin78956789/abathur') %>
		<%= generate_hero('Аларак', '/assets/small_heroes/alarak.png', 'admin78956789/alarak') %>
		<%= generate_hero('Анубарак', '/assets/small_heroes/anubarak.png', 'admin78956789/anubarak') %>
		<%= generate_hero('Артанис', '/assets/small_heroes/artanis.png', 'admin78956789/artanis') %>
		<%= generate_hero('Артас', '/assets/small_heroes/arthas.png', 'admin78956789/arthas') %>
		<%= generate_hero('Ауриель', '/assets/small_heroes/auriel.png', 'admin78956789/auriel') %>
		<%= generate_hero('Азмодан', '/assets/small_heroes/azmodan.png', 'admin78956789/azmodan') %>
		<%= generate_hero('Светик', '/assets/small_heroes/brightwing.png', 'admin78956789/brightwing') %>
		<%= generate_hero('Мясник', '/assets/small_heroes/butcher.png', 'admin78956789/butcher') %>
		<%= generate_hero('Чен', '/assets/small_heroes/chen.png', 'admin78956789/chen') %>
		<%= generate_hero('Чо', '/assets/small_heroes/cho.png', 'admin78956789/cho') %>
		<%= generate_hero('Галл', '/assets/small_heroes/gall.png', 'admin78956789/gall') %>
		<%= generate_hero('Хроми', '/assets/small_heroes/chromie.png', 'admin78956789/chromie') %>
		<%= generate_hero('Дехака', '/assets/small_heroes/dehaka.png', 'admin78956789/dehaka') %>
		<%= generate_hero('Диабло', '/assets/small_heroes/diablo.png', 'admin78956789/diablo') %>
		<%= generate_hero('ЕТС', '/assets/small_heroes/etc.png', 'admin78956789/etc') %>
		<%= generate_hero('Фалстад', '/assets/small_heroes/falstad.png', 'admin78956789/falstad') %>
		<%= generate_hero('Газлоу', '/assets/small_heroes/gazlowe.png', 'admin78956789/gazlowe') %>
		<%= generate_hero('Седогрив', '/assets/small_heroes/greyman.png', 'admin78956789/greymane') %>
		<%= generate_hero("Гул'дан", '/assets/small_heroes/guldan.png', 'admin78956789/guldan') %>
		<%= generate_hero('Кувалда', '/assets/small_heroes/hammer.png', 'admin78956789/hammer') %>
		<%= generate_hero('Иллидан', '/assets/small_heroes/illidan.png', 'admin78956789/illidan') %>
		<%= generate_hero('Джайна', '/assets/small_heroes/jaina.png', 'admin78956789/jaina') %>
		<%= generate_hero('Джоанна', '/assets/small_heroes/johanna.png', 'admin78956789/johanna') %>
		<%= generate_hero("Кель'тас", '/assets/small_heroes/kaelthas.png', 'admin78956789/kaelthas') %>
		<%= generate_hero('Керриган', "/assets/small_heroes/kerrigan.png", 'admin78956789/kerrigan') %>
		<%= generate_hero('Каразим', "/assets/small_heroes/kharazim.png", 'admin78956789/kharazim') %>
		<%= generate_hero('Леорик', "/assets/small_heroes/leoric.png", 'admin78956789/leoric') %>
		<%= generate_hero('Лили', "/assets/small_heroes/lili.png", 'admin78956789/lili') %>
		<%= generate_hero('Ли-минг', "/assets/small_heroes/liming.png", 'admin78956789/li-ming') %>
		<%= generate_hero('Лунара', "/assets/small_heroes/lunara.png", 'admin78956789/lunara') %>
		<%= generate_hero('Малфурион', "/assets/small_heroes/malfurion.png", 'admin78956789/malfurion') %>
		<%= generate_hero('Медив', "/assets/small_heroes/medivh.png", 'admin78956789/medivh') %>
		<%= generate_hero('Моралес', "/assets/small_heroes/morales.png", 'admin78956789/morales') %>
		<%= generate_hero('Мурадин', "/assets/small_heroes/muradin.png", 'admin78956789/muradin') %>
		<%= generate_hero('Мурки', "/assets/small_heroes/murky.png", 'admin78956789/murky') %>
		<%= generate_hero('Назибо', "/assets/small_heroes/nazeebo.png", 'admin78956789/nazeebo') %>
		<%= generate_hero('Нова', "/assets/small_heroes/nova.png", 'admin78956789/nova') %>
		<%= generate_hero('Рагнарос', "/assets/small_heroes/ragnaros.png", 'admin78956789/ragnaros') %>
		<%= generate_hero('Рэйнор', "/assets/small_heroes/raynor.png", 'admin78956789/raynor') %>
		<%= generate_hero('Регар', "/assets/small_heroes/rehgar.png", 'admin78956789/rehgar') %>
		<%= generate_hero('Рексар', "/assets/small_heroes/rexxar.png", 'admin78956789/rexxar') %>
		<%= generate_hero('Самуро', "/assets/small_heroes/samuro.png", 'admin78956789/samuro') %>
		<%= generate_hero('Соня', "/assets/small_heroes/sonya.png", 'admin78956789/sonya') %>
		<%= generate_hero('Стежок', "/assets/small_heroes/stitches.png", 'admin78956789/stitches') %>
		<%= generate_hero('Сильванас', "/assets/small_heroes/sylvanas.png", 'admin78956789/sylvanas') %>
		<%= generate_hero('Тассадор', "/assets/small_heroes/tassadar.png", 'admin78956789/tassadar') %>
		<%= generate_hero('Тралл', "/assets/small_heroes/thrall.png", 'admin78956789/thrall') %>
		<%= generate_hero('Трейсер', "/assets/small_heroes/tracer.png", 'admin78956789/tracer') %>
		<%= generate_hero('Тайкус', "/assets/small_heroes/tychus.png", 'admin78956789/tychus') %>
		<%= generate_hero('Тираель', "/assets/small_heroes/tyrael.png", 'admin78956789/tyrael') %>
		<%= generate_hero('Тиранде', "/assets/small_heroes/tyrande.png", 'admin78956789/tyrande') %>
		<%= generate_hero('Утер', "/assets/small_heroes/uther.png", 'admin78956789/uther') %>
		<%= generate_hero('Валла', "/assets/small_heroes/valla.png", 'admin78956789/valla') %>
		<%= generate_hero('Вариан', "/assets/small_heroes/varian.png", 'admin78956789/varian') %>
		<%= generate_hero('Викинги', "/assets/small_heroes/vikings.png", 'admin78956789/vikings') %>
		<%= generate_hero('Зул', "/assets/small_heroes/xul.png", 'admin78956789/xul') %>
		<%= generate_hero('Загара', "/assets/small_heroes/zagara.png", 'admin78956789/zagara') %>
		<%= generate_hero('Заря', "/assets/small_heroes/zarya.png", 'admin78956789/zarya') %>
		<%= generate_hero('Зератул', "/assets/small_heroes/zeratul.png", 'admin78956789/zeratul') %>
	</div>
</div>
</body>
</html>

