<html>
<body>
<div class="jumbotron feature">
	<div class="container">
		<h1>Калькулятор</h1>
		<%= generate_hero('Абатур', '/assets/small_heroes/abathur.png', 'calculator/abathur') %>
		<%= generate_hero('Аларак', '/assets/small_heroes/alarak.png', 'calculator/alarak') %>
		<%= generate_hero('Анубарак', '/assets/small_heroes/anubarak.png', 'calculator/anubarak') %>
		<%= generate_hero('Артанис', '/assets/small_heroes/artanis.png', 'calculator/artanis') %>
		<%= generate_hero('Артас', '/assets/small_heroes/arthas.png', 'calculator/arthas') %>
		<%= generate_hero('Ауриель', '/assets/small_heroes/auriel.png', 'calculator/auriel') %>
		<%= generate_hero('Азмодан', '/assets/small_heroes/azmodan.png', 'calculator/azmodan') %>
		<%= generate_hero('Светик', '/assets/small_heroes/brightwing.png', 'calculator/brightwing') %>
		<%= generate_hero('Бутчер', '/assets/small_heroes/butcher.png', 'calculator/butcher') %>
		<%= generate_hero('Чен', '/assets/small_heroes/chen.png', 'calculator/chen') %>
		<%= generate_hero('Чо', '/assets/small_heroes/cho.png', 'calculator/cho') %>
		<%= generate_hero('Галл', '/assets/small_heroes/gall.png', 'calculator/gall') %>
		<%= generate_hero('Хроми', '/assets/small_heroes/chromie.png', 'calculator/chromie') %>
		<%= generate_hero('Дехака', '/assets/small_heroes/dehaka.png', 'calculator/dehaka') %>
		<%= generate_hero('Диабло', '/assets/small_heroes/diablo.png', 'calculator/diablo') %>
		<%= generate_hero('ЕТС', '/assets/small_heroes/etc.png', 'calculator/etc') %>
		<%= generate_hero('Фалстад', '/assets/small_heroes/falstad.png', 'calculator/falstad') %>
		<%= generate_hero('Газлоу', '/assets/small_heroes/gazlowe.png', 'calculator/gazlowe') %>
		<%= generate_hero('Греймэн', '/assets/small_heroes/greyman.png', 'calculator/greymane') %>
		<%= generate_hero('Гулдан', '/assets/small_heroes/guldan.png', 'calculator/guldan') %>
		<%= generate_hero('Хаммер', '/assets/small_heroes/hammer.png', 'calculator/hammer') %>
		<%= generate_hero('Иллидан', '/assets/small_heroes/illidan.png', 'calculator/illidan') %>
		<%= generate_hero('Джайна', '/assets/small_heroes/jaina.png', 'calculator/jaina') %>
		<%= generate_hero('Джоанна', '/assets/small_heroes/johanna.png', 'calculator/johanna') %>
		<%= generate_hero('Кельтас', '/assets/small_heroes/kaelthas.png', 'calculator/kaelthas') %>
		<%= generate_hero('Керриган', "/assets/small_heroes/kerrigan.png", 'calculator/kerrigan') %>
		<%= generate_hero('Каразим', "/assets/small_heroes/kharazim.png", 'calculator/kharazim') %>
		<%= generate_hero('Леорик', "/assets/small_heroes/leoric.png", 'calculator/leoric') %>
		<%= generate_hero('Лили', "/assets/small_heroes/lili.png", 'calculator/lili') %>
		<%= generate_hero('Ли-минг', "/assets/small_heroes/liming.png", 'calculator/li-ming') %>
		<%= generate_hero('Лунара', "/assets/small_heroes/lunara.png", 'calculator/lunara') %>
		<%= generate_hero('Малфурион', "/assets/small_heroes/malfurion.png", 'calculator/malfurion') %>
		<%= generate_hero('Медив', "/assets/small_heroes/medivh.png", 'calculator/medivh') %>
		<%= generate_hero('Моралес', "/assets/small_heroes/morales.png", 'calculator/morales') %>
		<%= generate_hero('Мурадин', "/assets/small_heroes/muradin.png", 'calculator/muradin') %>
		<%= generate_hero('Мурки', "/assets/small_heroes/murky.png", 'calculator/murky') %>
		<%= generate_hero('Назибо', "/assets/small_heroes/nazeebo.png", 'calculator/nazeebo') %>
		<%= generate_hero('Нова', "/assets/small_heroes/nova.png", 'calculator/nova') %>
		<%= generate_hero('Рэйнор', "/assets/small_heroes/raynor.png", 'calculator/raynor') %>
		<%= generate_hero('Регар', "/assets/small_heroes/rehgar.png", 'calculator/rehgar') %>
		<%= generate_hero('Рексар', "/assets/small_heroes/rexxar.png", 'calculator/rexxar') %>
		<%= generate_hero('Самуро', "/assets/small_heroes/samuro.png", 'calculator/samuro') %>
		<%= generate_hero('Соня', "/assets/small_heroes/sonya.png", 'calculator/sonya') %>
		<%= generate_hero('Ститчес', "/assets/small_heroes/stitches.png", 'calculator/stitches') %>
		<%= generate_hero('Сильванас', "/assets/small_heroes/sylvanas.png", 'calculator/sylvanas') %>
		<%= generate_hero('Тассадор', "/assets/small_heroes/tassadar.png", 'calculator/tassadar') %>
		<%= generate_hero('Тралл', "/assets/small_heroes/thrall.png", 'calculator/thrall') %>
		<%= generate_hero('Трейсер', "/assets/small_heroes/tracer.png", 'calculator/tracer') %>
		<%= generate_hero('Тайкус', "/assets/small_heroes/tychus.png", 'calculator/tychus') %>
		<%= generate_hero('Тираель', "/assets/small_heroes/tyrael.png", 'calculator/tyrael') %>
		<%= generate_hero('Тиранде', "/assets/small_heroes/tyrande.png", 'calculator/tyrande') %>
		<%= generate_hero('Утер', "/assets/small_heroes/uther.png", 'calculator/uther') %>
		<%= generate_hero('Валла', "/assets/small_heroes/valla.png", 'calculator/valla') %>
		<%= generate_hero('Вариан', "/assets/small_heroes/varian.png", 'calculator/varian') %>
		<%= generate_hero('Викинги', "/assets/small_heroes/vikings.png", 'calculator/vikings') %>
		<%= generate_hero('Ксул', "/assets/small_heroes/xul.png", 'calculator/xul') %>
		<%= generate_hero('Загара', "/assets/small_heroes/zagara.png", 'calculator/zagara') %>
		<%= generate_hero('Заря', "/assets/small_heroes/zarya.png", 'calculator/zarya') %>
		<%= generate_hero('Зератул', "/assets/small_heroes/zeratul.png", 'calculator/zeratul') %>
	</div>
</div>
</body>
</html>

