<!DOCTYPE html>
<html>
<head>
</head>
<body>
<%= content_tag :div do %>
<% end %>
<%= form_tag do %>
  <%= label_tag 'id', 'ID:', class: 'admin_label' %>
  <%= text_area_tag 'id', generate_random_id, size: "50x5" %>
  <%= label_tag 'main_image', 'Картинка:', class: 'admin_label' %>
  <%= text_area_tag 'main_image', nil, size: "50x5" %>
  <%= label_tag 'summary', 'Название:', class: 'admin_label' %>
  <%= text_area_tag 'summary', nil, size: "50x5" %>
  <%= label_tag 'content', 'Контент:', class: 'admin_label' %>
  <%= text_area_tag 'content', nil, size: "120x20" %>
  <%= submit_tag "Create" %>
<% end %>
</body>
</html>